<div class="apps">
    <div class="info-w">
        <div class="info __responsive">
            <div class="info-ico"></div>
            <div class="info-descr">{{ 'apps.category.contact_us_slogan' | t }}</div>
            <a class="btn __medium __round __red __ucase" ng-click="showBecomeADeveloperForm()">{{ 'apps.category.become_a_developer' | t }}</a>
        </div>
    </div>

        <div class="items __responsive">
            <div class="title-w">
                <h2 class="t">{{ collections['featured'].title }}</h2>
                <ul class="menu __inline __right">
                    <li class="menu-item">
                        <a class="menu-link" href="{{ collections['featured'].url | absolute_url }}">View All</a>
                    </li>
                </ul>
            </div>
            <div class="list __items __inline">
                <ul class="main">
                   {% for product in collections['featured'].products limit: 5 %}
                        {% include 'grid-item' %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="items __responsive">
            <div class="title-w">
                <h2 class="t">{{ 'apps.category.new_extensions' | t }}</h2>
                <ul class="menu __inline __right">
                    <li class="menu-item">
                        <a class="menu-link" href="{{ collections['apps'].url | absolute_url }}">View All</a>
                    </li>
                </ul>
            </div>
            <div class="list __items __inline">
                <ul class="main">
                   {% for product in collections['apps'].products limit: 5 %}
                        {% include 'grid-item' %}
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>