<div class="blog" itemtype="http://schema.org/Blog" itemscope ng-controller="blogController">
    <div class="posts __responsive" itemprop="blogPosts">
        {% assign page_size = 9 %}

        {% include 'blog-categories-item', categories: blog.categories %}

        {% assign sticked_article = blog.articles | where: 'IsSticked', '==', 'true' | first %}
        {% if sticked_article == nil %}
            {% assign sticked_article = blog.articles | first %}
        {% endif %}
        {% include 'blog-list-item', article: sticked_article, style: "double" %}

        {% assign articles = blog.articles %}
        {% if blog_search.category != nil %}
            {% assign articles = articles | where: 'Category', '==', blog_search.category %}
        {% elseif blog_search.tag != nil %}
            {% assign articles = articles | where: 'Tags', 'contains', blog_search.tag %}
        {% endif %}
        {% for article in articles %}
            {% include 'blog-list-item', article: article, style: "single" %}
            {% if forloop.index == page_size %}
                {% break %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="posts __responsive" ng-if="articles || articles.length">
        {% include 'blog-list-item-js' %}
    </div>

    {% if articles.size > page_size %}
        <div class="more __responsive" ng-if="!isLastPage">
            <a class="button fill" ng-class="{ 'loading': isLoading }" ng-click="getArticles(pageNumber)">Older</a>
        </div>
    {% endif %}

    {% assign trending_articles = blog.articles | where: "IsTrending", "==", "true" %}
    {% if trending_articles.size > 0 %}
        {% include 'blog-trending-list', articles: trending_articles %}
    {% endif %}
</div>

{{ sticked_articles.size }}

<script>
    window.blogName = '{{ blog.handle }}';
    window.currentBlogCategory = '{{ blog_search.category }}';
    window.currentBlogTag = '{{ blog_search.tag }}';
    window.pageSize = {{ page_size }};
</script>