<div class="blog" itemtype="http://schema.org/Blog" itemscope ng-controller="blogController">
    <div class="posts __responsive" itemprop="blogPosts">
        {% assign sticked_article = blog.articles | where: 'Url', '==', settings.blog_sticked_article_url | first %}
        {% assign page_size = 9 %}

        {% include 'blog-categories-item', categories: blog.categories %}

        {% include 'blog-list-item', article: sticked_article, style: "double" %}
        {% assign articles = blog.articles | where: 'Url', '!=', sticked_article.url %}
        {% if blog_search.category != nil %}
            {% assign articles = articles | where: 'Category', '==', blog_search.category %}
        {% elseif blog_search.tag != nil %}
            {% assign articles = articles | where: 'Tags', 'contains', blog_search.tag %}
        {% endif %}
        {% for article in articles %}
            {% include 'blog-list-item', article: article, style: "single" %}
            {% if forloop.index == page_size %}
                {% break %}
            {% endif %}
        {% endfor %}
        {{ settings.blog.sticked_article_url }}
    </div>

    <div class="posts __responsive" ng-if="articles || articles.length">
        {% include 'blog-list-item-js' %}
    </div>

    {% if articles.size > page_size %}
        <div class="more __responsive" ng-if="!isLastPage">
            <a class="button fill" ng-class="{ 'loading': isLoading }" ng-click="getArticles(pageNumber)">Older</a>
        </div>
    {% endif %}

    {% include 'blog-trending-list' %}
</div>

    {{ 'app.js' | asset_url | script_tag }}
    {{ 'services.js' | asset_url | script_tag }}
    {{ 'main-layout.min.js' | asset_url | script_tag }}
    {{ 'segment-form-handler.js' | asset_url | script_tag }}
<script>
    window.blogName = '{{ blog.handle }}';
    window.currentBlogCategory = '{{ blog_search.category }}';
    window.currentBlogTag = '{{ blog_search.tag }}';
    window.pageSize = {{ page_size }};
    window.excludedArticleHandles = ['{{ sticked_article.url }}'];
</script>
