{% if search.results_count == 0 %}
    <h1>{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
{% else %}
    <h1>{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
{% endif %}
<hr />
{% if search.results_count > 0 %}
    {% for finded_item in search.results %}
        {% if finded_item.type == 'page' %}
            <h3><a href="{{ finded_item.url | absolute_url }}">{{ finded_item.title }}</a></h3>
            <hr />
        {% elseif finded_item.type == 'post' %}
            <h3><a href="{{ finded_item.url | absolute_url }}">{{ finded_item.title }}</a></h3>
            <p><a href="{{ finded_item.url | absolute_url }}">{{ finded_item.excerpt }}</a></p>
            <hr />
        {% endif %}
    {% endfor %}
{% endif %}