<section class="enterprise" data-name="section">
    <div class="section-inner responsive">
        <h1 class="section-t">Enterprise .NET E-commerce Platform<br />for B2B and B2C Solutions</h1>
        <h2 class="section-descr">Enterprise e-commerce platform<br />Microsoft .NET developers deserve</h2>
        <div class="mac">
            <div class="inner">
                <iframe id="video" src="https://www.youtube.com/embed/22BMH86RQys?ecver=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="section-actions">
            <a href="/try-now" class="button white fill">Request demo & trial</a>
            <a href="/features/for-business-professionals" class="button white">Discover platform</a>
        </div>
    </div>
</section>
<section class="costumers" data-name="section">
    <ul class="list responsive">
        <li class="list-item">
            <a class="list-link">
                <img src="assets/images/casestudies/volvocars-logo.jpg" alt="volvocars" class="list-pic">
            </a>
        </li>
        <li class="list-item">
            <a class="list-link">
                <img src="assets/images/casestudies/mitsubishi.png" alt="mitsubishi" class="list-pic">
            </a>
        </li>
        <li class="list-item">
            <a class="list-link">
                <img src="assets/images/casestudies/hbo.png" alt="hbo" class="list-pic">
            </a>
        </li>
        <li class="list-item">
            <a class="list-link">
                <img src="assets/images/casestudies/chevron.jpg" alt="chevron" class="list-pic">
            </a>
        </li>
        <li class="list-item">
            <a class="list-link">
                <img src="assets/images/casestudies/ingram-micro.png" alt="ingram" class="list-pic">
            </a>
        </li>
    </ul>
</section>
<section class="product-descr" data-name="section">
    <div class="section-inner responsive">
        <div class="product-info">
            <div class="section-descr">
                Virto Commerce puts the best of Microsoft Azure Cloud, <br>
                open source .Net code and agile development <br>
                in a single enterprise e-commerce platform.
            </div>
            For all types of eCommerce. No matter of business size.
            <div class="section-actions">
                <a href="/try-now" class="button white fill">Request demo & trial</a>
                <a href="/contact-us" class="button white">Contact us</a>
            </div>
        </div>
    </div>
</section>
<section class="links" data-name="section">
    <div class="section-inner responsive">
        <div class="columns">
            <div class="column">
                <div class="section-t">Enterprise business</div>
                <div class="columns">
                    <div class="column">
                        <a class="link" href="our-offers/enterprise-edition">
                            <div class="link-img enterprise"></div>
                            <div class="link-name">Enterprise edition</div>
                        </a>
                    </div>
                    <div class="column">
                        <a class="link" href="/our-offers/cloud-ecommerce-platform">
                            <div class="link-img cloud"></div>
                            <div class="link-name">Cloud edition</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <div class="section-t">Smb</div>
                        <a class="link" href="our-offers/community-edition">
                            <div class="link-img community"></div>
                            <div class="link-name">Community edition</div>
                        </a>
                    </div>
                    <div class="column">
                        <div class="section-t">Services</div>
                        <a class="link" href="our-services/training">
                            <div class="link-img services"></div>
                            <div class="link-name">Training and Consulting</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ecommerce-platform" data-name="section">
    <div class="section-inner responsive">
        <div class="section-t">MICROSOFT ENTERPRISE ECOMMERCE PLATFORM</div>
        <div class="section-descr">
            Designed To Fit The Biggest Enterprise eCommerce Players. Proven By Ourselves.
        </div>
        <div class="section-cnt">
            <div class="section-text">
                <p>Virto Commerce Microsoft eCommerce Platform was founded by the team of Kupinatao - the largest Alibaba API partner outside of China. After years of extensive development the business grew to the standalone software company.</p>
                <p>Kupinatao is one of the biggest Taobao partner's store with its own warehouse in China, selling more than 700, 000 items / month out of 70,000 categories for 1,500,000 visitors / month.</p>
                <p>We know enterprise e-commerce by heart and understand what your business needs from the platform. Discover this in our blog and whitepapers.</p>
            </div>
            <img src="assets/images/bg-knt.png" alt="enterprise ecommerce solution example" class="section-img">
        </div>
        <div class="section-actions">
            <a href="/blog" class="button striped">Read our expert blog</a>
            <a href="/whitepapers" class="button fill">Download whitepapers</a>
        </div>
    </div>
</section>
<section class="ecommerce-arch" data-name="section">
    <div class="section-inner responsive">
        <div class="section-t">Modular Enterprise .Net eCommerce Platform Architecture</div>
        <div class="section-descr">Enterprise e-commerce platform Flexibility. Faster Feature Roll-outs For Bigger Revenues.</div>
        <div class="section-cnt">
            <img class="section-img" src="assets/images/bg-arch.png" alt="enterprise e-commerce platform architecture">
            <div class="section-text">
                <p>Advanced modular architecture of our enterprise e-commerce platform allows to easily extend and replace platform functionality.</p>
                <p><a href="/b2b-ecommerce-platform">Implement B2B, B2C</a> and other enterprise ecommerce solutions using common UI elements and base modules.</p>
                <p>Test your new business models lightning fast, roll-out new features fast to quickly impact your business metrics.</p>
            </div>
        </div>
        <div class="section-actions">
            <a href="/features/for-business-professionals" class="button fill">Key Business Features</a>
            <a href="/features/for-developers" class="button striped">More About Technology</a>
        </div>
    </div>
</section>
<section class="benefit" data-name="section">
    <div class="section-inner responsive">
        <div class="section-t">Benefit From Agile and Microsoft Ecommerce Cloud</div>
        <div class="section-descr">No More Long Integration and Migration. Take Advantage of ASP.NET Open-source Platform.</div>
        <div class="section-cnt">
            <div class="columns">
                <div class="column">
                    <ul class="list">
                        <li class="list-item">
                            <div class="list-ico"></div>
                            <div class="list-text">Stay ahead of your competition. Don't wait for your enterprise ecommerce software to support any technology or feature.</div>
                        </li>
                        <li class="list-item evolve">
                            <div class="list-ico"></div>
                            <div class="list-text">Evolve faster than SaaS and proprietary-based solutions with your development team or our partners.</div>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="list">
                        <li class="list-item speed">
                            <div class="list-ico"></div>
                            <div class="list-text">Speed up the development process using open source codebase and agile methods while saving IT&dev budgets.</div>
                        </li>
                        <li class="list-item invest">
                            <div class="list-ico"></div>
                            <div class="list-text">Invest saved money not in IT or enterprise ecommerce solution, but in growing your business.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-actions">
            <a href="/partners/list-of-partners" class="button fill">View partners</a>
            <a href="https://github.com/VirtoCommerce" class="button striped" rel="nofollow">Visit GitHub Repository</a>
        </div>
    </div>
</section>
<div class="blog" style="background: #fff; padding: 0; padding-bottom: 40px;">
    <div style="margin-top: 40px; text-align: center;">
        <h2 class="sub-title">Latest articles from our Enterprise eCommerce Solution Blog</h2>
    </div>
    <div class="trending __responsive">
        <div class="trending-list">
            <div class="post post-single">
                <div class="post-inner">
                    <div class="post-media" style="background-image: url('../../assets/images/blog/agile-platform.jpg');">
                        <h3><a href="{{ '/blog/agile-platform' | absolute_url }}">Today’s Microsoft ecommerce market calls for Agile Enterprise Platforms</a></h3>
                    </div>
                    <div class="post-descr">
                        Agile is the most recognized and widely used methodology in software development presently. What are advantages for business of using it? How does it help reduce costs and allow a business to stay ultra-competitive in today’s dynamic e-commerce market?<br /><a href="{{ '/blog/agile-platform' | absolute_url}}">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="post post-single">
                <div class="post-inner">
                    <div class="post-media" style="background-image: url('../../assets/images/blog/update.jpg');">
                        <h3><a href="{{ '/blog/new-features-in-virtocommerce' | absolute_url }}">What’s in the works – New features coming up in the Virto Commerce enterprise platform</a></h3>
                    </div>
                    <div class="post-descr">
                        What’s in the works – New features coming up in the Virto Commerce enterprise Microsoft ecommerce software.<br /><a href="{{ '/blog/new-features-in-virtocommerce' | absolute_url }}">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="post post-single">
                <div class="post-inner">
                    <div class="post-media" style="background-image: url('../../assets/images/blog/DevOps-MAIN.jpg');">
                        <h3><a href="{{ '/blog/virtocommerce-visits-devops-conf' | absolute_url }}">DevOps Pro Conference for Microsoft Ecommerce Developers</a></h3>
                    </div>
                    <div class="post-descr">
                        Virto Commerce enterprise ecommerce software development team is constantly improving its technical leadership. Our Solutions Architect has just visited the DevOps conference and shared his thoughts on what he has seen.<br /><a href="{{ '/blog/virtocommerce-visits-devops-conf' | absolute_url }}">Read more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="technologies" data-name="section">
    <div class="section-inner responsive">
        <div class="section-t">ENTERPRISE ECOMMERCE PLATFORM BUILT USING CUTTING-EDGE WEB TECHNOLOGIES</div>
        <div class="section-cnt">
            <ul class="list">
                <li class="list-item">
                    <img src="assets/images/technologies/new/azure.png" alt="azure" class="list-pic">
                </li>
                <li class="list-item">
                    <img src="assets/images/technologies/new/elastic.png" alt="elastic" class="list-pic">
                </li>
                <li class="list-item">
                    <img src="assets/images/technologies/new/net.png" alt="net" class="list-pic">
                </li>
                <li class="list-item">
                    <img src="assets/images/technologies/new/css-html.png" alt="css" class="list-pic">
                </li>
                <li class="list-item">
                    <img src="assets/images/technologies/new/jq-boots.png" alt="jq" class="list-pic">
                </li>
                <li class="list-item">
                    <img src="assets/images/technologies/new/angular.png" alt="angular" class="list-pic">
                </li>
            </ul>
        </div>
        <div class="section-actions">
            <a href="/try-now" class="button fill">Request Demo & Trial</a>
            <a href="/contact-us" class="button striped">Contact Us</a>
        </div>
    </div>
</section>
<div class="about-vc __responsive">
    <div class="about">
        <p>Virto Commerce enterprise e-commerce platform was founded by a team that previously developed Mediachase eCommerce Framework, successfully used by thousands of merchants around the world. Since 2011 our team of architects and engineers has been developing Virto Commerce to be a new generation enterprise ecommerce platform on .NET, and in June 2013 Virto Commerce v1.0 has been released. We are company with a mission to make Microsoft e commerce development simple and exciting. Our main focus is professional developers and organizations looking for a framework that will help them deliver "more than expected" to their customers in less time. Our goal is to deliver enterprise ecommerce software product that we can be proud of.</p>
        <p>We are a global software company with offices and local experience in USA, European and Asian markets. With the philosophy of providing agile and enterprise ecommerce solution, Virto Commerce team members are proud to develop the most flexible enterprise e-commerce platform. Virto Commerce is a robust software platform for enterprise ecommerce. It has proved its reliability by giving you access to lots of sophisticated, yet easy-to-use tools for your B2B or enterprise ecommerce business. If you want to grow your business’ outreach, you may want to choose Virto Commerce among other Microsoft e commerce platforms as with it you can enable outstanding shopping experiences, increase sales and develop excellent performance across multiple channels all at the same time.</p>
        <p>Easy to scale up, Virto Commerce positions itself as an enterprise ecommerce solution with an open architecture, built specially for you to integrate multiple features, plugins and applications as well as to safely deliver your website on the Microsoft e Commerce Cloud. Simple integrations connect you with the enterprise ecommerce software that is crucial to your business. Open source code allows you even to implement your own functionality, increasing the conversion rate and profits with new services. When choosing enterprise ecommerce solution, you will consider the opportunity to build a truly responsive website. Best coding practices that are involved in creating a webstore enable you to optimize it for mobile shopping by loading pages faster, having better search filters and results, thus giving you higher conversion rates. The market for enterprise ecommerce software is growing, and with Virto Commerce you will be always keeping up with cutting edge technologies.</p>
    </div>
</div>
