<div class="main-enterprise">
    <div class="presentation responsive">
        <div class="presentation-info">
            <h1 class="presentation-title">{{ 'main_page.presentation.title' | t }}</h1>
            <h2 class="presentation_sub-title">{{ 'main_page.presentation.subtitle' | t }}</h2>
            <div style="color: #fff; margin-top: 20px;">
                <a href="{{ '/our-offers/enterprise-edition' | absolute_url }}">Enterprise Edition</a> | <a href="{{ '/our-offers/enterprise-cloud-hosted' | absolute_url }}">Cloud Edition</a> | <a href="{{ '/our-offers/community-edition' | absolute_url }}">Community Edition</a> | <a href="{{ '/our-services/training' | absolute_url }}">Training Courses</a>
            </div>
            <div class="presentation-buttons">
                <a class="button fill" href="/try-now" id="href_1" style="margin-right: 40px;">Request Demo & Trial</a>
                <a class="button fill" href="/contact-us">Contact Us</a>
            </div>
        </div>
        <div class="presentation-image">
            <img class="image" src="/assets/images/home/hero.gif" alt="enterprise e-commerce platform" />
        </div>
    </div>
    <div class="costumers">
        <div class="responsive">
            <ul class="list __inline">
                <li class="list-item helvetia"></li>
                <li class="list-item kitmall"></li>
                <li class="list-item kalla"></li>
                <li class="list-item caromba"></li>
                <li class="list-item markus"></li>
            </ul>
        </div>
    </div>
</div>
<div class="your-costumers">
    <div class="responsive">
        <p class="head-title">Microsoft Enterprise eCommerce Platform</p>
        <div class="planet pc">
            <div class="satelite mobile">
                <a class="ico"></a>
                <h3>{{ 'main_page.customers.subtitle.mobile' | t }}</h3>
            </div>
            <div class="satelite marketplace">
                <a class="ico"></a>
                <h3>{{ 'main_page.customers.subtitle.multichannel' | t }}</h3>
            </div>
            <div class="satelite pc">
                <a class="ico"></a>
                <h3>{{ 'main_page.customers.subtitle.b2c' | t }}</h3>
            </div>
            <div class="satelite b2b">
                <a class="ico"></a>
                <h3>{{ 'main_page.customers.subtitle.b2b' | t }}</h3>
            </div>
            <div class="satelite social">
                <a class="ico"></a>
                <h3>{{ 'main_page.customers.subtitle.social' | t }}</h3>
            </div>
            <div class="planet-info">
                <div class="ico"></div>
                <div class="planet-content social">
                    <p class="name">{{ 'main_page.customers.content.social_title' | t }}</p>
                    <p>{{ 'main_page.customers.content.social_description' | t }}</p>
                </div>
                <div class="planet-content marketplace">
                    <p class="name">{{ 'main_page.customers.content.multichannel_title' | t }}</p>
                    <p>{{ 'main_page.customers.content.multichannel_description' | t }}</p>
                </div>
                <div class="planet-content mobile">
                    <p class="name">{{ 'main_page.customers.content.mobile_title' | t }}</p>
                    <p>{{ 'main_page.customers.content.mobile_description' | t }}</p>
                </div>
                <div class="planet-content pc opened">
                    <p class="name">{{ 'main_page.customers.content.b2c_title' | t }}</p>
                    <p>{{ 'main_page.customers.content.b2c_description' | t }}</p>
                </div>
                <div class="planet-content b2b">
                    <p class="name">{{ 'main_page.customers.content.b2b_title' | t }}</p>
                    <p>Virto Commerce Web API provides integration points for your partners. Use multiple master and virtual catalogs to create partner product lists. Define custom pricing using Price Lists for vendors, customers and partners. Native support for quotes to enable business users execute quote requests online. Integrate with your procurement system, we support integration with Ariba, SciQuest, Coupa, SAP etc..<br><a href="{{ '/download-b2b-whitepaper' | absolute_url }}">Learn more in our B2B whitepaper.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="join">
    <div class="responsive">
        <p class="head-title" style="font-size: 40px;">{{ 'main_page.developers.title' | t }}</p>
        <div class="join-info">
            <p class="joiner pro">{{ 'main_page.developers.subtitle.app_store' | t }}</p>
            <p class="joiner flex">{{ 'main_page.developers.subtitle.modular' | t }}</p>
            <p class="joiner code">{{ 'main_page.developers.subtitle.open_source' | t }}</p>
        </div>
        <div class="join-dialog">
            <div class="join-content pro opened">
                <h3 class="name">{{ 'main_page.developers.content.app_store_title' | t }}</h3>
                <p>{{ 'main_page.developers.content.app_store_description' | t }}</p>
            </div>
            <div class="join-content flex">
                <h3 class="name">{{ 'main_page.developers.content.modular_title' | t }}</h3>
                <p>{{ 'main_page.developers.content.modular_description' | t }}</p>
            </div>
            <div class="join-content code">
                <h3 class="name">{{ 'main_page.developers.content.open_source_title' | t }}</h3>
                <p>{{ 'main_page.developers.content.open_source_description' | t }}</p>
            </div>
        </div>
    </div>
</div>
<div class="ecommerce-platform">
    <div class="responsive">
        <p class="head-title">.NET e-Commerce Platform as a Service (PaaS)</p>
        <img alt="{{ 'main_page.platform.title' | t }}" class="schema" src="/assets/images/schema.png" />
    </div>
</div>
<div class="advantages __responsive">
    <ul class="list">
    	<li class="list-item">
			<img alt="enterprise ecommerce platform" src="/assets/images/features/architecture-circle.png" style="border: 0px">
			<p class="title">Extensible modular e-commerce architecture</p>
			<p>
				Advanced modular architecture of our enterprise e-commerce platform allows to easily extend and replace platform functionality. Auto update modules
				to the latest version using Commerce Manager. <a href="{{ '/b2b-ecommerce-platform' | absolute_url }}">Implement B2B & B2C</a> and other business solutions using common UI elements and base 
				modules. Learn more about our B2B capabilities <a href="{{ '/download-b2b-whitepaper' | absolute_url }}">in our whitepaper.</a>
			</p>
		</li>
        <li class="list-item">
            <img alt="{{ 'main_page.advantages.open_source.alt' | t }}" src="/assets/images/advantages/github.png" />
            <p class="title">{{ 'main_page.advantages.open_source.title' | t }}</p>
            <p>{{ 'main_page.advantages.open_source.description' | t }}</p>
        </li>
        <li class="list-item">
            <img alt="Virto Commerce enterprise e-commerce platform" src="/assets/images/advantages/2.jpg" />
            <p class="title">Enterprise e-commerce catalog solution</p>
            <p>{{ 'main_page.advantages.catalogs.description' | t }}</p>
        </li>
        <li class="list-item">
            <img alt="Virto Commerce enterprise ecommerce solution" src="/assets/images/advantages/ci.png" alt="enterprise e-commerce solution" />
            <p class="title">{{ 'main_page.advantages.automation.title' | t }}</p>
            <p>{{ 'main_page.advantages.automation.description' | t }}</p>
        </li>
    </ul>
    <div style="margin-top: 20px; text-align: center;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QpRG-HOlrbc?ecver=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>
<div class="try-it">
    <a class="button fill" href="try-now" id="href_2">Request Demo & Trial</a>
    <a class="button fill" href="contact-us">Contact Us</a>
</div>
<div class="blog" style="background: #fff; padding: 0; padding-bottom: 40px;">
    <div style="margin-top: 40px; text-align: center;">
        <h2 class="sub-title">Latest articles from our Enterprise eCommerce Blog</h2>
    </div>
    <div class="trending __responsive">
        <div class="trending-list">
            <div class="post post-single">
                <div class="post-inner">
                    <div class="post-media" style="background-image: url('../../assets/images/blog/B2B Online Aftermath.jpg');">
                        <h3><a href="{{ '/blog/b2b-online-aftermath' | absolute_url }}">B2B Online Aftermath</a></h3>
                    </div>
                    <div class="post-descr">
                        B2B Online is where world leading manufacturers share their experience with the fellow professionals in the field. Now we're excited to share our impressions from this experience.<br /><a href="{{ '/blog/b2b-online-aftermath' | absolute_url }}">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="post post-single">
                <div class="post-inner">
                    <div class="post-media" style="background-image: url('../../assets/images/blog/update.jpg');">
                        <h3><a href="{{ '/blog/new-features-in-virtocommerce' | absolute_url }}">What’s in the works – New features coming up in the Virto Commerce platform</a></h3>
                    </div>
                    <div class="post-descr">
                        What’s in the works – New features coming up in the Virto Commerce platform.<br /><a href="{{ '/blog/new-features-in-virtocommerce' | absolute_url }}">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="post post-single">
                <div class="post-inner">
                    <div class="post-media" style="background-image: url('../../assets/images/blog/DevOps-MAIN.jpg');">
                        <h3><a href="{{ '/blog/virtocommerce-visits-devops-conf' | absolute_url }}">DevOps Pro Conference – Our Experience</a></h3>
                    </div>
                    <div class="post-descr">
                        Virto Commerce team is constantly improving its technical leadership. Our Solutions Architect has just visited the DevOps conference and shared his thoughts on what he has seen.<br /><a href="{{ '/blog/virtocommerce-visits-devops-conf' | absolute_url }}">Read more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'technologies' %}
<div class="about-vc __responsive">
    <a class="link learn-link">{{ 'main_page.about.link_text' | t }}</a>
    <div class="about">
        <p>{{ 'main_page.about.description' | t }}</p>
    </div>
</div>
