<div ng-controller="productController">
    {% include 'breadcrumb' %}
    <div class="extension __responsive clearfix">
        <div class="extension-slider __left">
            <div class="slider-item">
                <figure class="slider-outer">
                    <a class="slider-pic">
                        <img class="slider-img" itemprop="image" src="{% if product.featured_image.src %}{{ product.featured_image.src }}{% else %}{{ 'blank.png' | asset_url }}{% endif %}" />
                    </a>
                </figure>
            </div>
        </div>
        <div class="extension-detail">
            <div class="extension-detail_inner __col-w">
                <div class="extension-info col __col-60">
                    <h1 class="extension-t">{{ product.selected_or_first_available_variant.title }}</h1>
                    <div class="reviews-links">
                        <a class="link __ucase" style="cursor:pointer;" ng-click="showWriteAReviewForm()">{{ 'apps.product.write_a_review' | t }}</a>
                    </div>
                    {% if product.metafields.properties.Description %}
                    <div class="extension-descr" itemprop="description">{{ product.metafields.properties.Description }}</div>
                    {% endif %}
                    <div class="select-container" ng-if="product.variations.length > 1">
                        <select ng-model="selectedVariation.id" ng-change="selectVariation()">
                            <option ng-repeat="variation in product.variations" ng-value="variation.id" ng-selected="selectedVariation.id === variation.id" ng-bind="variation.name"></option>
                        </select>
                    </div>
                    <ul class="list __properties">
                        <li class="list-item" ng-if="selectedVariation.versionNumber &amp;&amp; selectedVariation.versionNumber.value">
                            <span class="list-t">{{ 'apps.product.version' | t }}</span>
                            <span class="list-name" ng-bind="selectedVariation.versionNumber.value"></span>
                        </li>
                        <li class="list-item" ng-if="selectedVariation.releaseDate &amp;&amp; selectedVariation.releaseDate.value">
                            <span class="list-t">{{ 'apps.product.release_date' | t }}</span>
                            <span class="list-name" ng-bind="selectedVariation.releaseDate.value"></span>
                        </li>
                        <li class="list-item" ng-if="selectedVariation.compatibility &amp;&amp; selectedVariation.compatibility.value">
                            <span class="list-t">{{ 'apps.product.compatibility' | t }}</span>
                            <span class="list-name" ng-bind="selectedVariation.compatibility.value"></span>
                        </li>
                        <li class="list-item" ng-if="selectedVariation.locale &amp;&amp; selectedVariation.locale.value">
                            <span class="list-t">{{ 'apps.product.locale' | t }}</span>
                            <span class="list-name" ng-bind="selectedVariation.locale.value"></span>
                        </li>
                    </ul>
                </div>
                <div class="extension-links col __col-40">
                    <div class="extension-canvas __right">
                        <img class="extension-img" src="{{ product.vendor.logo_url }}" />
                    </div>
                    <ul class="menu">
                        <li class="menu-item __author">
                            <a class="menu-link" href="{{ product.vendor.site_url }}">{{ product.vendor.name }}</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="">{{ 'apps.product.developer_profile' | t }}</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" style="cursor:pointer;" ng-click="showContactVendorForm()">{{ 'apps.product.contact_developer' | t }}</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="">{{ "apps.product.developer_extensions" | t }}</a>
                        </li>
                    </ul>
                    <div class="socials">
                        <div class="social-t">{{ 'apps.product.share' | t }}</div>
                        <ul class="list __inline __socials">
                            <li class="list-item fb">
                                <a class="list-link" href="https://www.facebook.com/sharer/sharer.php?u={{ product.url | full_url }}" target="_blank"></a>
                            </li>
                            <li class="list-item plus">
                                <a class="list-link" href="https://plus.google.com/share?url={{ product.url | full_url }}" target="_blank"></a>
                            </li>
                            <li class="list-item">
                                <a class="list-link" href="http://www.twitter.com/share?url={{ product.url | full_url }}" target="_blank"></a>
                            </li>
                            <li class="list-item ln">
                                <a class="list-link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ product.url | full_url }}&amp;title={{ product.name }}&amp;source={{ '/' | full_url }}" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a class="btn __red __round __block __ucase" ng-href="{% raw %}{{ selectedVariation.downloadLink.value }}{% endraw %}" ng-if="selectedVariation.downloadLink &amp;&amp; selectedVariation.downloadLink.value">{{ 'apps.product.get_extension' | t }} ({{ 'apps.general.free' | t }})</a>
        </div>
    </div>
    <div class="tabs">
        <ul class="menu __inline __tabs __responsive">
            <li class="menu-item" ng-class="{ '__selected': productOverviewVisible }" ng-click="showProductOverview()">{{ 'apps.product.overview' | t }}</li>
            <li class="menu-item" ng-class="{ '__selected': productReleaseNotesVisible }" ng-click="showProductReleaseNotes()">{{ 'apps.product.release_notes' | t }}</li>
        </ul>
        <div class="tab-content">
            <div class="content-inner __responsive">
                <p ng-if="fullDescription &amp;&amp; productOverviewVisible" ng-bind-html="fullDescription"></p>
                <div ng-if="productReleaseNotesVisible">
                    <p class="tab-t" ng-if="selectedVariation.versionNumber" ng-bind="'{{ 'apps.product.version' | t }} ' + selectedVariation.versionNumber.value"></p>
                    <p ng-if="selectedVariation.releaseDate" ng-bind="selectedVariation.releaseDate.value"></p>
                    <div ng-if="selectedVariation.releaseNotes &amp;&amp; selectedVariation.releaseNotes.value">
                        <p class="tab-t">{{ 'apps.product.version_features' | t }}</p>
                        <p ng-bind="selectedVariation.releaseNotes.value"></p>
                    </div>
                    <a class="btn __red __round __left __ucase" ng-href="{% raw %}{{ selectedVariation.downloadLink.value }}{% endraw %}" ng-if="selectedVariation.downloadLink &amp;&amp; selectedVariation.downloadLink.value">{{ 'apps.product.get_extension' | t }} ({{ 'apps.general.free' | t }})</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.productIds = [];
    window.productIds.push('{{ product.id }}');
</script>