{% if search.search_in != '/docs' %}
    <div class="apps">
        <div class="items __responsive">
            <div class="title-w">
                {% if search.performed %}
                    {% if search.results_count == 0 %}
                        <h2 class="t">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h2>
                    {% else %}
                        <h2 class="t">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h2>
                    {% endif %}
                {% else %}
                    {% comment %}
                        If search.performed is false, someone either accessed the page without the q parameter, or it was blank.
                    {% endcomment %}
                    <h2 class="t">{{ 'general.search.title' | t }}</h2>
                {% endif %}
                <div class="body-search">
                    {% include 'search-bar' %}
                </div>
            </div>
            {% if search.results_count > 0 %}
                {% paginate search.results by 15 %}
                    <div class="list __items __inline">
                        <ul class="main">
                            {% for product in search.results %}
                                {% include 'grid-item' %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% if paginate.pages > 1 %}
                        <div class="text-center">
                            {% include 'pagination-custom' %}
                        </div>
                    {% endif %}
                {% endpaginate %}
            {% endif %}
        </div>
    </div>
{% else %}
    {% if search.results_count == 0 %}
        <h1>{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
    {% else %}
        <h1>{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
    {% endif %}
    <hr />
    {% if search.results_count > 0 %}
        {% for finded_item in search.results %}
            <h3><a href="{{ finded_item.url | absolute_url }}">{{ finded_item.title }}</a></h3>
            <p><a href="{{ finded_item.url | absolute_url }}">{{ finded_item.url | absolute_url }}</a></p>
            {% if finded_item.type == 'post' %}
                <p><a href="{{ finded_item.url | absolute_url }}">{{ finded_item.excerpt }}</a></p>
            {% endif %}
            <hr />
        {% endfor %}
    {% endif %}
{% endif %}