<div class="roadmap __responsive" style="text-align:center; padding-bottom: 40px;">
    <h1 class="head-title">Activate account</h1>
    <p class="text">Fill in the information to complete activation.</p>
    <div class="columns">
        <div class="block">
            <div class="column">
                {% form 'confirm_invitation' %}
                {% include 'form-errors-custom' %}

                <input type="hidden" value="{{ form.email }}" name="customer[email]">
                <input type="hidden" value="{{ form.email }}" name="customer[user_name]">
                <input type="hidden" value="{{ form.organization_id }}" name="customer[organization_id]">
                <input type="hidden" value="{{ form.token }}" name="customer[token]">

                <div class="control-group">
                    <label for="first_name" class="hidden-label text-left">First name (required)</label>
                    <input type="text" value="" class="form-input" name="customer[first_name]" id="first_name" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.errors contains "first_name" %} class="error" {% endif %} autocapitalize="words" autofocus>
                </div>
                <div class="control-group">
                    <label for="last_name" class="hidden-label text-left">Last name (required)</label>
                    <input type="text" value="" class="form-input" name="customer[last_name]" id="last_name" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.errors contains "last_name" %} class="error" {% endif %} autocapitalize="words">
                </div>
                <div class="control-group">
                    <label for="create_password" class="hidden-label text-left">Password (required)</label>
                    <input type="password" value="" class="form-input" name="customer[password]" id="create_password" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error" {% endif %}>
                </div>
                <div class="control-group">
                    <label for="confirm_password" class="hidden-label text-left">Confirm password (required)</label>
                    <input type="password" value="" class="form-input" name="customer[password_confirm]" id="confirm_password" placeholder="{{ 'customer.register.password_confirm' | t }}">
                </div>
                <p style="margin-right: 20px;">
                    <input style="width: 100%;" type="submit" class="button fill no-transparent" value="Activate">
            </div>
            {% endform %}
        </div>
    </div>
</div>
{{ '//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js' | script_tag }}
{{ '//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js' | script_tag }}
<script type="text/javascript">
    $(function () {
        //custom validation
        $('form#confirm_invite').validate({
            rules: {
                'customer[first_name]': "required",
                'customer[last_name]': "required",
                'customer[password]': {
                    required: true,
                    minlength: 5
                },
                'customer[password_confirm]': {
                    required: true,
                    equalTo: "#create_password"
                }

            },
            errorElement: "span",
            messages: {
                'customer[first_name]': "Please enter your First Name",
                'customer[last_name]': "Please enter your Last Name",
                'customer[password]': {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                'customer[password_confirm]': {
                    required: "Please provide a confirm password",
                    equalTo: "Must match the previous entry"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
