{% layout settings.customer_layout %}
<div ng-controller="accountController" class="roadmap responsive">
    <h1 style="margin-left: 18px;" class="head-title">{{ 'customer.recover_password.title' | t }}</h1>
    <p>{{ 'customer.recover_password.subtext' | t }}</p>
    <div class="columns">
        <div style="bottom: 20px;position: relative;" class="column">
            {% if form.posted_successfully %}
            <div class="note form-success" id="resetSuccess">
                {{ 'customer.login.reset_password_success' | t }}
            </div>
            {% endif %}

            <div id="recover_password">
                {% form 'recover_customer_password' %}
                {% include 'form-errors-custom' %}
                <div class="control-group">
                    <label for="recover-email" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
                    <input type="email" value="" class="form-input" name="email" id="recover-email" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
                </div>
                <p>
                    <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
                </p>
                {% endform %}
            </div>
        </div>
        <div class="column">
            <div class="block">
                <h3>Frequently asked questions</h3>
                <ul class="list">
                    <li>
                        <span class="title">When will I get reply from a partner?</span>
                        <span class="descr">
                            You should get reply from a partner within a business day. Please be aware of partner timezone. If
                            you don't get any reply within a day, please email us at sales@virtocommerce.com and will make sure you get questions answered.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
