<div class="roadmap responsive ">
    <h1 style="margin-left: 80px;" class="head-title">Log in to account</h1>
    <div class="columns">
        <div style="bottom: 20px; position: relative;" class="column">
            <div class="block">
                <div style="width:500px;">
                    <a class="btn btn-default btn-lg btn-block" style="width:500px;" href="account/externallogin?authType=GitHub&returnUrl=/vc-community"><i class="fa fa-github"></i> Log in with GitHub</a>
                    <!--<a class="btn btn-default btn-lg btn-block" href="account/externallogin?authType=StackExchange&returnUrl=/vccom/vc-community"><i class="fa fa-stack-overflow"></i> Log in with StackExchange</a>-->
                </div>
                <p align="center">&mdash; {{ 'common.or' | t }}  &mdash;</p>

                {% form 'customer_login' %}

                {% include 'form-errors-custom' %}

                <div class="control-group">
                    <input type="text" value="" class="form-input" style="width:500px;" name="customer[user_name]" id="customer_user_name" placeholder="{{ 'customer.login.user_name' | t }}" {% if form.errors contains "user_name" %} class="error" {% endif %} autocorrect="off" autocapitalize="off" autofocus>
                </div>
                <div class="control-group">
                    <input type="password" value="" class="form-input" style="width:500px;" name="customer[password]" id="customer_password" placeholder="{{ 'customer.login.password' | t }}" {% if form.errors contains "password" %} class="error" {% endif %}>
                </div>
                <div position: relative;" class="control-group">
                    <p>
                        <input type="submit" class="button fill" style="width:500px;" value="{{ 'customer.login.sign_in' | t }}">
                    </p>
                </div>

                {% endform %}

                <div class="" align="center">
                    <a href="account/register">Register</a>
                    <span> | </span>
                    <a href="{{ '/account/forgotpassword' | absolute_url }}">{{ 'customer.login.forgot_password' | t }}</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="block">
                <h3>Frequently asked questions</h3>
                <ul class="list">
                    <li>
                        <span class="title">Get started for free!</span>
                        <span class="descr">
                            Welcome to the Virto Commerce developer community! You can find all the documentation and resources needed to help build and manage your Virto Commerce experience.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ '//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js' | script_tag }}
{{ '//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js' | script_tag }}
<script type="text/javascript">
    $(function () {
    //custom validation
        $('form#customer_login').validate({
            rules: {
                'customer[user_name]': "required",
                'customer[password]': "required"
            },
            errorElement: "span",
            messages: {
                'customer[user_name]': "Please enter your Email Adress",
                'customer[password]': "Please enter your Password"
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
