<!DOCTYPE html>
<html ng-app="storefrontApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virto Commerce Documentation - {{ page_title }}</title>
    {{ '//fonts.googleapis.com/css?family=Lato' | stylesheet_tag }}
    {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/vs.min.css' | stylesheet_tag }}
    {{ 'reset.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'responsive.css' | asset_url | stylesheet_tag }}
    {{ 'docs.css' | asset_url | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/cs.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/javascript.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/xml.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js' | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
    {{ 'docs.js' | asset_url | script_tag }}

    {{ content_for_header }}

    <base href="{{ '/' | absolute_url }}" />
</head>
<body ng-controller="docsController">
    <div class="layout">
        <div class="layout-canvas">
            <div class="swipe">
                {% include 'main-menu-mobile' %}
            </div>
            <div class="header-wrap">
                <header class="responsive" id="header" role="banner">
                    <a class="logo" href="{{ '/' | absolute_url }}" title="Virto Commerce"></a>
                    <a class="mobile-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    {% assign menu = linklists.main-menu %}
                    {% include 'main-menu' %}
                    <div class="head-search">
                        {% include 'search-bar' %}
                    </div>
                </header>
            </div>
            <article class="main" role="main">
                <div class="docs responsive">
                    <div class="docs-column">
                        <div class="nav" id="menu">
                            <form class="search" action="{{ '/content/search' | absolute_url }}" method="post">
                                <input name="SearchIn" id="SearchIn" type="hidden" value="docs">
                                <input name="Layout" id="Layout" type="hidden" value="docs">
                                <input name="Keyword" id="Keyword" type="search" placeholder="Search docs">
                            </form>
                            <vc-docs-menu items="menuItems" url="'{{ page.url }}'" />
                        </div>
                    </div>
                    <div class="docs-column docs-content">
                        <div class="cnt" id="content">
                            {{ content_for_layout }}
                        </div>
                    </div>
                </div>
            </article>
            {% include 'footer' %}
        </div>
    </div>
    <script>
        hljs.initHighlightingOnLoad();
        var BASE_URL = '{{ "/" | full_url }}';
        window.pageUrl = '{{ page.url }}';

        var footerBlock = document.getElementById('footer');
        var menuBlock = document.getElementById('menu');
        stickMenu();

        document.addEventListener('scroll', function () {
            stickMenu();
        });

        document.addEventListener('resize', function () {
            stickMenu();
        });

        function stickMenu() {
            if (isElementInViewport(footerBlock)) {
                menuBlock.classList.add('not-fixed');
            } else {
                menuBlock.classList.remove('not-fixed');
            }
        }

        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return rect.bottom > 0 &&
                rect.right > 0 &&
                rect.left < (window.innerWidth || document.documentElement.clientWidth) &&
                rect.top < (window.innerHeight || document.documentElement.clientHeight);
        }

        window.pageUrl = '{{ page.url }}';
        window.menuItems = [];
        {% for page in pages %}
            {% assign page_url_parts = page.url | split: '/' %}
            {% if page_url_parts[0] == 'docs' %}
                window.menuItems.push({
                    url: '{{ page.url }}',
                    title: '{{ page.title }}',
                    sorting: {{ page.sorting }}
                });
            {% endif %}
        {% endfor %}
    </script>
</body>
</html>