<!DOCTYPE html>
<html ng-app="storefrontApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }}</title>
    {{ '//fonts.googleapis.com/css?family=Lato' | stylesheet_tag }}
    {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/vs.min.css' | stylesheet_tag }}
    {{ 'reset.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'responsive.css' | asset_url | stylesheet_tag }}
    {{ 'docs.css' | asset_url | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/cs.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/javascript.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/xml.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js' | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
    {{ 'docs.js' | asset_url | script_tag }}

    {{ content_for_header }}

    <base href="{{ '/' | absolute_url }}" />
</head>
<body>
    <div class="layout">
        <div class="layout-canvas">
            <div class="swipe">
                {% include 'main-menu-mobile' %}
            </div>
            <div class="header-wrap">
                <header class="responsive" role="banner">
                    <a class="logo" href="{{ '/' | absolute_url }}" title="Virto Commerce"></a>
                    <a class="mobile-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    {% assign menu = linklists.main-menu %}
                    {% include 'main-menu' %}
                    <div class="head-search">
                        {% include 'search-bar' %}
                    </div>
                </header>
            </div>
            <article class="main" role="main">
                {{ content_for_layout }}
            </article>
            {% include 'footer' %}
        </div>
    </div>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>