<h4>{{ 'blogs.sidebar.recent_articles' | t }}</h4>
<ul class="list">
{% for article in blog.articles limit:6 %}
  <li class="list-item">
    <a class="list-link" href="{{ article.url | absolute_url }}">{{ article.title }}</a>
    <time class="list-date" pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
      <em class="text-light">{{ article.published_at | date: format: 'month_day_year' }}</em>
    </time>
  </li>
{% endfor %}
</ul>

{% if blog.all_tags.size > 0 %}
  <h4>{{ 'blogs.sidebar.categories' | t }}</h4>
  <ul>
    {% for tag in blog.all_tags %}
      {% if current_tags contains tag %}
      <li>{{ tag }}</li>
      {% else %}
      <li>{{ tag | link_to_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

{% comment %} ----- Social Widget ----- {% endcomment %}
{% if settings.blog_social_visible != 'none' %}
  {% case settings.blog_social_visible %}
  {% when 'twitter' %}
  {% include 'twitter' %}

  {% when 'facebook' %}
  {% include 'facebook' %}
  {% endcase %}
{% endif %}