{% if style == "double" %}
    {% assign article_css_class = "post post-double" %}
{% else %}
    {% assign article_css_class = "post post-single" %}
{% endif %}

<div class="{{ article_css_class }}" itemprop="blogPost">
    <div class="post-inner">
        <div class="post-media{% if article.image_url == nil %} no-image{% endif %}" style="background-image: url('{{ article.image_url }}');">
            {% if article.category %}
                <div class="category-name">{{ "blogs.categories." | append: article.category | t }}</div>
            {% endif %}
            <h3><a href="{{ article.url | absolute_url }}" itemprop="headline">{{ article.title }}</a></h3>
        </div>
        {% if article.excerpt %}
            <div class="post-descr" itemprop="description">{{ article.excerpt }}</div>
        {% endif %}
        <div class="post-other">
            <div class="post-logo"><img src="{{ 'logo-mini.png' | asset_url }}" /></div>
            <div class="post-author">
                <div class="author" itemprop="author">{{ article.author }}</div>
                <div class="date" itemprop="datePublished">{{ article.created_at | date: "%b %d, %Y" }}</div>
            </div>
        </div>
    </div>
</div>