{% unless template == 'index' or template == 'cart' %}
<div class="breadcrumbs __responsive" role="navigation" aria-label="breadcrumbs">
  <ul class="menu __inline">
    <li class="menu-item">
      <a class="menu-link" href="{{ "/" | absolute_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
    </li>

  {% if template contains 'vendor' or template contains 'product' or template contains 'collection' %}
    <li class="menu-item">
        <a href="{{ '/apps' | absolute_url }}" class="menu-link">App Store</a>
    </li>
  {% endif %}

  {% if template contains 'vendor' %}

    <li class="menu-item">{{ vendor.name }}</li>

  {% elsif template contains 'product' %}

    {% if collection %}
      {% if collection.url %}
        <li class="menu-item">
          <a href="{{ collection.url | absolute_url }}" class="menu-link">{{ collection.title }}</a>
        </li>
      {% endif %}
    {% endif %}
    <li class="menu-item">{{ product.title }}</li>

  {% elsif template contains 'collection' and collection.url %}

    {% if current_tags %}
      {% capture url %}{{ collection.url | absolute_url }}{% endcapture %}
      {{ collection.title | link_to: url }}

      {% comment %}
        Loop through tags and our custom tag array to strip out prepended tag categories if they exist.
        snippet/advanced-tag-loop.liquid is required for this to work.
      {% endcomment %}
      {% for tag in current_tags %}
        {% assign is_advanced_tag = false %}
        {% assign additional_tag = true %}
        {% if forloop.first %}
          {% assign additional_tag = false %}
        {% endif %}

        {% comment %}
          Track whether the tag gets printed
        {% endcomment %}
        {% assign found_tag = false %}
        
        {% for cat_item in collection.all_tags %}
          {% unless cat_item == '' %}

            {% if tag == cat_item %}
              {% assign is_advanced_tag = true %}
              {% if additional_tag %}
                <span>+</span>
              {% endif %}
              {% assign found_tag = true %}
              <span>
                {{ cat_item.label }}
              </span>
            {% endif %}
          {% endunless %}
        {% endfor %}

        {% comment %}
          We have a regular tag that wasn't printed, so print it now
        {% endcomment %}
        {% unless found_tag %}
          <!--<span>{{ tag }}</span>-->
        {% endunless %}

      {% endfor %}

    {% else %}
      <li class="menu-item">{{ collection.title }}</li>
    {% endif %}

  {% elsif template == 'blog' %}

    {% if current_tags %}
      {% assign blog_url = blog.url | absolute_url %}
      {{ blog.title | link_to: blog_url }}
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
      <li class="menu-item">{{ blog.title }}</li>
    {% endif %}

  {% elsif template == 'article' %}

    <li class="menu-item">
        <a href="{{ blog.url | absolute_url }}" class="menu-link">{{ blog.title }}</a>
    </li>
    <li class="menu-item">{{ article.title }}</li>

  {% elsif template contains 'page' %}

   <li class="menu-item">{{ page.title }}</li>

  {% else %}

   <li class="menu-item">{{ page_title }}</li>
  </ul>
  {% endif %}
</div>
{% endunless %}