<li class="list-item">
    <a class="list-link" href="{{ product.url | absolute_url }}">
        <figure class="image-outer">
            <img alt="" class="list-img" onerror="this.onerror=null;this.src='{{ 'no-image.png' | asset_url }}';" src="{{ product.featured_image.src }}" />
        </figure>
        <h3 class="list-name">{{ product.title }}</h3>
        {% if product.metafields.properties.Description %}
        <span class="list-vendor">Virto Commerce</span>
        <span class="list-descr">{{ product.metafields.properties.Description }}</span>
        {% endif %}
        <span class="list-price">
            {% include 'product-pricing' %}
        </span>
    </a>
</li>