<nav class="head-menu">
    <ul class="menu __inline">
        {% for link in menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            <li class="menu-item{% if linklists[child_list_handle].links.size > 0 %} dropdown{% endif %}">
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
                {% if linklists[child_list_handle].links.size > 0 %}
                    <ul class="menu __sub">
                        {% for child_link in linklists[child_list_handle].links %}
                            <li class="menu-item">
                                {% if child_link.url contains 'http' %}
                                <a href="{{ child_link.url }}" target="_blank">{{ child_link.title | escape }}</a>
                                {% else %}
                                <a href="{{ child_link.url }}">{{ child_link.title | escape }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        <li class="menu-item try">
            <a class="button try" href="{{ '/try-now' | absolute_url }}">{{ 'general.try_now' | t }}</a>
        </li>
    </ul>
</nav>