{% assign url_parts = page.url | split: '/' %}
{% if url_parts contains 'docs' or search.search_in == '/docs' %}
    <form class="search" action="{{ '/content/search' | absolute_url }}" method="post">
        <input name="SearchIn" id="SearchIn" type="hidden" value="/docs">
        <input name="Layout" id="Layout" type="hidden" value="docs">
        <input name="Keyword" id="Keyword" type="search" placeholder="Search docs" required="required" value="{{ search.terms }}">
    </form>
    {% assign docs_pages = pages | where: 'url', 'contains', 'docs' | sort: 'url' %}
    {% assign docs_tree = docs_pages | tree: 'url', 'title', '/', 'priority' %}
    {% include 'docs-menu', docs_tree: docs_tree %}
{% else %}
    <ul class="menu">
        {% for link in menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            <li class="menu-item" data-id="swipeli">
                <a href="{{ link.url }}" data-swipe="opened">{{ link.title | escape }}</a>
                {% if linklists[child_list_handle].links.size > 0 %}
                    <ul class="menu sub-menu">
                        {% for child_link in linklists[child_list_handle].links %}
                            <li class="menu-item">
                                <a href="{{ child_link.url }}">{{ child_link.title | escape }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}