<nav class="head-menu">
    <ul class="menu __inline">
        <li class="menu-item">
            <a href="/features/for-business-professionals" class="menu-link">Products</a>
            <!-- flyout menu -->
            <div class="dropdown-menu">
                <div class="dropdown-inner responsive">
                    <div class="col-1">
                        <div class="dropdown-t">Our Platform</div>
                        <ul class="menu">
                            <li class="dropdown-item">
                                <a href="/features/for-business-professionals" class="dropdown-link">Key Features</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/our-offers/enterprise-edition" class="dropdown-link">Enterprise Edition</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/our-offers/cloud-ecommerce-platform" class="dropdown-link">Cloud Edition</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/our-offers/community-edition" class="dropdown-link">Community Edition</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/features/for-developers" class="dropdown-link">Technology</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1">
                        <div class="dropdown-t">Resources</div>
                        <ul class="menu">
                            <li class="dropdown-item">
                                <a href="/docs" class="dropdown-link">Documentation</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/roadmap" class="dropdown-link">Platform Roadmap</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/case-studies" class="dropdown-link">Case Studies</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/whitepapers" class="dropdown-link">Whitepapers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-5">
                        <div class="image">
                            <a href="/try-now"><img src="/assets/images/menu/admin.png" title="Management Console" height="260"></a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item">
            <a href="/our-services/professional-services" class="menu-link">Services</a>
            <!-- flyout menu -->
            <div class="dropdown-menu">
                <div class="dropdown-inner responsive">
                    <div class="col-1">
                        <div class="image">
                            <a href="/our-services/professional-services"><img src="/assets/images/menu/consulting.gif" title="Consulting"></a>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="image">
                            <a href="/our-services/training"><img src="/assets/images/menu/training.gif" title="Training"></a>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="image">
                            <a href="/support"><img src="/assets/images/menu/support.gif" title="Support"></a>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="dropdown-t">Our Services</div>
                        <ul class="menu">
                            <li class="dropdown-item">
                                <a href="/our-services/professional-services" class="dropdown-link">Consulting</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/our-services/training" class="dropdown-link">Training</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/support" class="dropdown-link">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item">
            <a href="/partners/list-of-partners" class="menu-link">Ecosystem</a>
            <!-- flyout menu -->
            <div class="dropdown-menu">
                <div class="dropdown-inner responsive">
                    <div class="col-1">
                        <div class="dropdown-t">Solution Partners</div>
                        <ul class="menu">
                            <li class="dropdown-item">
                                <a href="/partners/list-of-partners" class="dropdown-link">List of Solution Partners</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/partners/become-partner" class="dropdown-link">Become a Solution Partner</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-1">
                        <div class="dropdown-t">Technology Partners</div>
                        <ul class="menu">
                            <li class="dropdown-item">
                                <a href="/partners/list-of-partners" class="dropdown-link">View our Partners</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1">
                        <div class="image">
                            <a href="/apps"><img src="/assets/images/menu/appstore.png" title="App Store"></a>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="dropdown-t">Community</div>
                        <ul class="menu">
                            <li class="dropdown-item">
                                <a href="/docs" class="dropdown-link">Documentation</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/apps" class="dropdown-link">App Store</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="http://stackoverflow.com/questions/tagged/virtocommerce" target="_blank" rel="nofollow" class="dropdown-link">Stackoverflow Group</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="https://github.com/VirtoCommerce/vc-platform" target="_blank" rel="nofollow" class="dropdown-link">GitHub Repository</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="http://admin-demo.virtocommerce.com/docs/ui/index" target="_blank" rel="nofollow" class="dropdown-link">API Reference</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/contribute-agreement" class="dropdown-link">How to Contribute</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/try-now" class="dropdown-link">Download Community Edition</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item">
            <a href="/customers" class="menu-link">Customers</a>
            <!-- flyout menu -->
            <div class="dropdown-menu">
                <div class="dropdown-inner responsive">
                    <div class="col-1">
                        <div class="dropdown-t">Customers</div>
                        <ul class="menu">
                            <li class="dropdown-item">
                                <a href="/customers" class="dropdown-link">Our Customers</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/case-studies" class="dropdown-link">Case Studies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-5">
                        <div class="image">
                            <a href="/customers"><img src="/assets/images/menu/customers.png" title="Customers"></a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!--<li class="menu-item">-->
        <!--<a href="/vc-comunity" class="menu-link">Community</a>-->
        <!-- flyout menu -->
        <!--</li>-->
        <li class="menu-item">
            <a href="/about-us" class="menu-link">About Us</a>
            <!-- flyout menu -->
            <div class="dropdown-menu">
                <div class="dropdown-inner responsive">
                    <div class="col-3">
                        <div class="image">
                            <a href="/blog"><img src="/assets/images/menu/team.png" title="Contact Us"></a>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="dropdown-t">About Us</div>
                        <ul class="menu">
                            <li class="dropdown-item">
                                <a href="/about-us" class="dropdown-link">About Us</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/jobs" class="dropdown-link">Jobs</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/contact-us" class="dropdown-link">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1">
                        <div class="dropdown-t">News</div>
                        <ul class="menu">
                            <li class="dropdown-item">
                                <a href="/blog" class="dropdown-link">Blog</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/blog" class="dropdown-link">Announcements</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item try">
            <button class="button fill try" onclick="openContactUs(event)">Contact Us</button>
        </li>
    </ul>
</nav>

<!--
<nav class="head-menu">
    <ul class="menu __inline">
        {% for link in menu.links %} {% assign child_list_handle = link.title %}
        <li class="menu-item">
            <a href="{{ link.url }}" class="menu-link">{{ link.title | escape }}</a> {% if linklists[child_list_handle].links.size
            > 0 %}
            <div class="dropdown-menu">
                <div class="dropdown-inner responsive">
                    {% for child_link in linklists[child_list_handle].links %} {% if child_link.url contains '.png' %}
                    <div class="col-3">
                        <div class="image">
                            <img src="{{child_link.url}}" title="{{child_link.title}}" height="260"></img>
                        </div>
                    </div>
                    {% else %} {% include 'main-menu-section', menu: child_link, style: "col-1" %} {% endif %} {% endfor %}
                </div>
            </div>
            {% endif %}
        </li>
        {% endfor %}
        <li class="menu-item try">
            <a class="button try" href="{{ '/try-now' | absolute_url }}">{{ 'general.try_now' | t }}</a>
        </li>
    </ul>
</nav>
-->
