<div class="technologies __responsive">
    <ul class="list __inline">
        <li class="list-item">
            <img alt="{{ 'general.technologies.windows_azure' | t }}" src="/assets/images/technologies/azure.jpg" />
        </li>
        <li class="list-item">
            <img alt="{{ 'general.technologies.elasticsearch' | t }}" src="/assets/images/technologies/elasticsearch.jpg" />
        </li>
        <li class="list-item">
            <img alt="{{ 'general.technologies.microsoft_net' | t }}" src="/assets/images/technologies/net.jpg" />
        </li>
        <li class="list-item">
            <img alt="{{ 'general.technologies.web' | t }}" src="/assets/images/technologies/web.jpg" />
        </li>
        <li class="list-item">
            <img alt="{{ 'general.technologies.angular_js' | t }}" src="/assets/images/technologies/angularjs.png" />
        </li>
    </ul>
</div>